name: Build docker image

on:
  push:
    branches:
      - master
      - 4.x

    tags:
      - '*'

  pull_request:

env:
  DRUPAL11: '11.3.2'
  DRUPAL10: '10.6.2'


  # keep a few lines to avoid conflicts.
  BASE_IMAGE_STABILITY_TAG: 4.77.1

jobs:
  build-drupal11:
    strategy:
      matrix:
        php: [ '8.5', '8.4', '8.3' ]
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          DRUPAL_VER: ${{ env.DRUPAL11 }}
          PHP_VER: ${{ matrix.php }}
          ARCH: ${{ matrix.arch }}
        working-directory: '11'
        run: |
          make
          make test
          make push

  build-drupal10:
    strategy:
      matrix:
        php: [ '8.4', '8.3', '8.2', '8.1' ]
        arch:
          - amd64
          - arm64
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          DRUPAL_VER: ${{ env.DRUPAL10 }}
          PHP_VER: ${{ matrix.php }}
          ARCH: ${{ matrix.arch }}
        working-directory: '10'
        run: |
          make
          make test
          make push

  push-drupal11:
    runs-on: ubuntu-latest
    needs:
      - build-drupal11
    strategy:
      matrix:
        php: [ '8.5', '8.4', '8.3' ]
        include:
          - php: '8.5'            
            latest_major_php: '1'
            latest_php: '1'
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ env.DRUPAL11 }}
          php: ${{ matrix.php }}
          latest: 1
          # we only have one version of major drupal.
          latest_major: 1
          latest_php: ${{ matrix.latest_php }}
          latest_major_php: ${{ matrix.latest_major_php }}
          workdir: 11

  push-drupal10:
    runs-on: ubuntu-latest
    needs:
      - build-drupal10
    strategy:
      matrix:
        php: [ '8.4', '8.3', '8.2', '8.1' ]
        include:
          - php: '8.4'
            latest_major_php: '1'
            latest_php: '1'        
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ env.DRUPAL10 }}
          php: ${{ matrix.php }}
          # we only have one version of major drupal.
          latest_major: 1
          latest_php: ${{ matrix.latest_php }}
          latest_major_php: ${{ matrix.latest_major_php }}
          workdir: 10
